<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted mt-5">
    
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-gem me-3 text-grayish"></i>About Food Box
            </h6>
            <p>
            This is making the ordering easy for u. we can order the product according to urs Requirements.
            Make sure to visit again.....
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Products
            </h6>
            <p>
              <a routerLink="under-maintance" class="text-reset">Order</a>
            </p>
          </div>
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
            <p><i class="fas fa-home me-3 text-grayish"></i> Visakhapatnam, AndhraPradesh, India</p>
            <p>
              <i class="fas fa-envelope me-3 text-grayish"></i>
              siddhireddy316@gmail.com
            </p>
            <p><i class="fas fa-phone me-3 text-grayish"></i> +91 7095690235</p>
            
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.025);">
       By continuing past this page, you agree to our Terms of Service, Cookie Policy, Privacy Policy and Content Policies. All trademarks are properties of their respective owners. 2022
      <a class="text-reset fw-bold" href="https://mdbootstrap.com/">©FoodBox™ Ltd. All rights reserved.</a>
    </div>
  </footer>
